.claude/launch.json
.idea
.run
.vs
.vscode
AGENTS.local.md
CLAUDE.local.md
*.DS_Store
Claude outputs
obj
bin
global.json
graphify-out
ULogViewer.csproj.user
ULogViewer.sln.DotSettings.user
/ULogViewer/Properties/PublishProfiles/*.user
/ULogViewer/Properties/launchSettings.json
/AutoUpdater/AutoUpdater.csproj.user
/AutoUpdater/Properties/PublishProfiles/*.user
/AutoUpdater/Properties/launchSettings.json
/Packages
Performance.xlsx
~$Performance.xlsx
